@import "./variables";

.article__features {
    padding-top: 88px;
    text-align: center;

    @media (min-width: $breakpoint-tablet) {
        text-align: left;
        @include flex-layout();
        align-items: flex-end;
        justify-content: unset;
    }

    &__content {
        padding-top: 45px;
        @media (min-width: $breakpoint-tablet) {
            padding: 63px;
            max-width: 30%;
            background-color: $white;
            margin-left: -159px;
            margin-bottom: -1px;
            z-index: 1;
        }

        &__title {
            text-transform: uppercase;
            font-size: 36px;
        }

        &__description {
            color: $very-dark-gray;
            padding-top: 24px;
        }
    }
}