// View port 
$breakpoint-desktop: 1440px;
$breakpoint-tablet: 650px;

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

// Font size
$font-size: 15px;

// Layouts

@mixin flex-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@mixin reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

$image_path: "../images/";